body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("52523.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1[class="a"] {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    letter-spacing: 5px;
    word-spacing: 5px;
    text-decoration: underline;
    color: #fff;
}

video {
    align-items: center;
    width: 1000px;
    border-radius: 20px;
    margin-left: 150px
}

h2[class="b"] {
    text-align: left;
    color: #fff;
}

p {
    color: #fff;
}