body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background: url(52523.jpg);
    background-size: cover;
}

p {
    position: absolute;
    top: 360px;
    left: 50px;
    color: #fff;
    cursor: pointer;
}

table {
    color: #fff;
    position: absolute;
    border: 2px;
    border-collapse: collapse;
}

h1 {
    color: #fff;
    float: center;
}

video {
    align-items: center;
    width: 1000px;
    border-radius: 20px;
    margin-left: 150px
}